<div class="row" ng-repeat="feedObject in feed track by $index">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
                <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
                <p class="category">Usluga</p>
                <h3 class="title">{{ feedObject.provider }}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i>
                    <a href="#pablo">Podaci od {{ fetchDate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                <i class="material-icons">store</i>
            </div>
            <div class="card-content">
                <p class="category">Trenutno dugovanje</p>
                <h3 class="title">{{ feedObject.debt }} KM</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Podaci od
                    {{ fetchDate }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <h6>Statistika potrošnje</h6>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="card-content">
                <canvas
                    id="line"
                    class="chart chart-line"
                    chart-data="data"
                    chart-labels="labels"
                    chart-series="series"
                    chart-options="options"
                    chart-dataset-override="datasetOverride"
                    chart-click="onClick"
                >
                </canvas>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from
                    Github
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button
            type="button"
            class="btn btn-primary"
            ng-click="go('/providers')"
        >
            Dodaj novu uslugu
        </button>
    </div>
</div>
