<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Telemach - računi</h4>
                <p class="category">Pregled računa</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <th>Datum izdavanja računa</th>
                        <th>Iznos</th>
                        <th>Plaćeno</th>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="report in telemachReports track by $index"
                        >
                            <td>{{ report.date }}</td>
                            <td>{{ report.debt }}</td>
                            <td class="text-primary">{{ report.paid }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Telemach - uplate</h4>
                <p class="category">Pregled uplata</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th>Mjesec</th>
                        <th>Iznos</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="payment in telemachPayments">
                            <td>{{ payment.date }}</td>
                            <td class="text-primary">{{ payment.paid }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
